<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm"
     xmlns:th="http://www.w3.org/1999/xhtml">
    <h5 class="my-0 mr-md-auto font-weight-normal">Software Skill - business card</h5>
    <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="/person/list"><span th:text="#{person.list.header}"/></a>
        <a class="p-2 text-dark" href="/person/add"><span th:text="#{person.add.header}"/></a>
    </nav>
</div>
